# Ignorar archivos de objetos
*.o

# Ignorar archivos de dependencias
*.d

# Ignorar directorios de compilación (como el de la carpeta obj)
/obj/

#Ignorar los archivos tmp .swp 
*.swp

#Ignorar ejecutables y .a

*.a
*.out
*.txt
.objs_coverage/
.dep_coverage/
git-script.sh
minitester-minishell-tester/
tester_builtin_echo_pwd.sh
tester_builtin_export_unset_env.sh


