# Ignorar archivos de objetos
*.o

# Ignorar archivos de dependencias
*.d
.dep

# Ignorar directorios de compilación (como el de la carpeta obj)
/obj/
.objs

#Ignorar los archivos tmp .swp 
*.swp

#Ignorar ejecutables y .a
*.a
*.out
*.txt
*.sh
minishell

.objs_coverage/
.dep_coverage/
git-script.sh


*.gitignore

minitester-minishell-tester/
tester_builtin_echo_pwd.sh
tester_builtin_export_unset_env.sh

.vscode

